<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    </head>
    <body>

        <h1>Movies Recommendation System</h1>
        
        {% block main_content %}
            
        {% endblock %}

        <script src="{{url_for('static', filename = 'js/firstlevelLogic.js')}}" type="module"></script>
        <script src="{{url_for('static', filename = 'js/idLev.js')}}" type="module"></script>
        <script src="{{url_for('static', filename = 'js/preferencesLev.js')}}" type="module"></script>
        <script src="{{url_for('static', filename = 'js/reset.js')}}" type="module"></script>
    </body>
</html>